<h1>Home Page</h1>

<p>Welcome to the Authlogic/Omniauth sample application. You can choose how you want to authenticate</p>

<%= link_to 'Login with Facebook', fb_login_path %><br/>
<%= link_to 'Login with Twitter', tw_login_path %><br/>

<%= link_to 'Register', register_path %><br/>
<%= link_to 'Login (Classic)', login_path %><br/>